* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  color: rgb(54, 64, 38);
  font-family: Helvetica;
}

nav a {
  display: inline-block;
  background: blue;
  color: white;
  margin: 0.5px;
  padding: 0.5rem;
  text-decoration: none;
}
